@import "lib/bootstrap-less/bootstrap.less";
@import "lib/pygments.less";
@import "lib/lightbox.less";
@import url("http://fonts.googleapis.com/css?family=Carrois+Gothic|Open+Sans:400,700|Reenie+Beanie|Old+Standard+TT");

@navBarFont: 'Carrois Gothic', 'Open Sans', helvetica, sans-serif;
@headingFont: @navBarFont;
@handWrittenFont: 'Reenie Beanie', serif;
@introFont: 'Old Standard TT', serif;

::selection {
	background: @purple;
	color: #fff;
}
::-moz-selection {
	background: @purple;
	color: #fff;
}

body {
	font-family: 'Open Sans', helvetica, sans-serif;
}

p {
	margin-bottom: 1.7em;

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}
}

a:hover {
	text-decoration: none;
}

.home h1 {
	font-family: @introFont;
	margin: 3em 0 1.5em 0;
	text-align: center;
}

.navbar {
	font-family: @navBarFont;
	margin-top: 1em;
}

.signature {
	font-family: @handWrittenFont;
	margin: 0 0 1em 0;
	font-size: 3em;
}

.post-title {
	font-family: @headingFont;
}

.page-listing {
	ul {
		margin-left: 0;

		li {
			list-style-type: none;

			.read-more-link {
				float: right;
			}
		}
	}
}

#footer {
	margin-top: 5em;

	.copyright {
		font-size: 0.8em;
		color: lighten(@textColor, 40%);
		width: 370px;
		margin: 0 auto;
		text-align: center;
	}
}

.purple-button {
	background: @purple;
	color: white;
	padding: 0.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	&:hover {
		text-decoration: none;
		color: #fff;
		background: lighten(@purple, 5%);
	}
}

#content-header {
	.interior & {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px dashed @grayLight;
		text-align: center;
	}

	.post-date {
		font-style: italic;
		color: @grayLight;
	}
}

ul.gallery {
	margin: 0 0 2em 0;
	list-style-type: none;
	text-align: center;

	li {
		width: 110px;
		height: 110px;
		display: inline-block;
		margin-right: 1.6em;
		
		a {
			display: block;
			-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.5);
			box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.5);
			padding: 0.5em;

			&:hover {
				background: #efefef;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.hero-unit {
	padding: 2em;
}