{% extends "skeleton/_root.html" %}

{% block all %}

<!DOCTYPE html>

<html lang="en">

	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		{% ifequal page.module.name "work" %}
			<meta name="robots" content="noindex, nofollow">
		{% endifequal %}

		<title>
			{% block title %}
			{{page.title}} | {{site.name}} | Web development hired gun and all-around coding enthusiast.
			{% endblock %}
		</title>

		{% block feeds %}

		<link href="{{site.url}}/blog/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>

		{% endblock %}

		{% block css %}

		<link rel="stylesheet" href="{{site.url}}/media/css/dhwebco.css" type="text/css" media="screen" charset="utf-8">

	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		{% block extra_css %}
		{% endblock %}
		
		{% endblock %}

	</head>

	<body class="{% ifequal page.module site.module %}home{% else %}interior{% endifequal %} {{ page.module.name }}">

		<div class="container">
			{% include "skeleton/_header.html" %}

			{% block content %}{% endblock %}

			{% include "skeleton/_footer.html" %}

		</div>

		{% block js %}

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{{site.url}}/media/js/bootstrap.min.js"></script>
		<script src="{{site.url}}/media/js/lightbox.js"></script>

		{% block extra_js %}
		{% endblock %}
		
		{% endblock %}
	</body>

</html>

{% endblock %}