{% extends "skeleton/_root.html" %}

{% block all %}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{site.full_url}}">Devin Humbert</a>
    <ul class="nav">
      <li>
        <a href="{{site.full_url}}">
          About Me
        </a>
      </li>
      <li{% ifequal page.module.name 'work' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/work/">
          Work
        </a>
      </li>
      <li{% ifequal page.module.name 'blog' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/blog/">
          Blog
        </a>
      </li>
      <li{% ifequal page.module.name 'code' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/code/">
          Code
        </a>
      </li>
      <li{% ifequal page.module.name 'contact' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/contact/">
          Contact
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}