{% ifequal page.module site.module %}
	{% include "skeleton/_site_nav.html" %}
{% endifequal %}

<div id='footer'>
	<div class="copyright">
		&copy; Devin Humbert &mdash; Freelance PHP development, 
		jQuery development, and WordPress development in North 
		County San Diego, CA.
	</div>
</div>