{% extends "skeleton/_root.html" %}

{% block all %}

{%spaceless%}

{%ifnotequal node page.node %}
	{% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
	<h1>{{node.name|unslugify}}</h1>
	{% if node.has_listing %}</a>{% endif %}
{%endifnotequal%}

<ul>
    {% for list_page in node.pages %}
		{% ifnotequal list_page node.listing_page %}
			{% if list_page.display_in_list %}
				<li class="clearfix">
					<h2 class="post-title"><a href="{{list_page.url}}">
					{% with list_page.name_without_extension|remove_date_prefix|unslugify as default_title %}
						{{list_page.title|default_if_none:default_title }}
					{%endwith%}</a></h2>

					{% if list_page.tagline %}
						<div class="post-tagline">
							{{ list_page.tagline|safe|typogrify }}
						</div>
					{% endif %}

					{% if page.excerpt %}
						{% render_excerpt list_page %}
					{%endif%}
				</li>
			{%endif%}
		{% endifnotequal %}
	{% endfor %}
</ul>

{%endspaceless%}

{% endblock %}