{% extends "skeleton/_body.html"%}

{% block content_header %}

{% if page.hero %}
	<div class="hero-unit">
	  <h1>{{ page.hero_headline }}</h1>
	  <p>{{ page.hero_intro }}</p>
	</div>
{% endif %}

{% endblock %}

{% block content_body %}

<div class="page-listing">
	{% for node in page.node.walk %}
		{% include "skeleton/_innerlisting.html" %}
	{% endfor %}
</div>

<div class="clear"></div>

{% endblock %}