{% extends "skeleton/_root.html" %}

{% block all %}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{site.full_url}}">Devin Humbert</a>
    <ul class="nav">
      <li{% ifequal page.module site.module %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}">
          <i class="icon-user"></i>
          About Me
        </a>
      </li>
      <li{% ifequal page.module.name 'work' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/work/">
          <i class="icon-briefcase"></i>
          Work
        </a>
      </li>
			<li{% ifequal page.module.name 'articles' %} class="active" {% endifequal %}>
				<a href="{{site.full_url}}/articles/">
          <i class="icon-book"></i>
					Articles
				</a>
			</li>
      <li{% ifequal page.module.name 'code' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/code/">
          <i class="icon-wrench"></i>
          Code
        </a>
      </li>
      <li{% ifequal page.module.name 'contact' %} class="active" {% endifequal %}>
        <a href="{{site.full_url}}/contact/">
          <i class="icon-comment"></i>
          Contact
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}