{% extends "skeleton/_body.html" %}

{%hyde
    title: "Hi, my name is Devin. I write code."
    created: 2009-02-01 18:09:05
%}

{% block content_body %}

<p class="lead">
	Coding is my passion. From WordPress plugins to jQuery animations, 
	CodeIgniter models to Grails domain classes, I love coding. 
	That's why I'm a freelance web developer.
</p>

<p>
	Could I design a beautiful and modern website? Probably. Can I pump 
	a site full of SEO juice until it floats up to #1 on Google? Maybe. 
	But I'm more at home in a text editor than Photoshop, and I'd 
	rather go on an away mission with Wesley Crusher than perform keyword analysis. 
	Back-end and front-end coding is my specialty.
</p>

<p>
	Are you interested in learning about <a href="{{site.url}}/work">the work I've done</a>?
</p>

<p>
	Though I'm perfectly comfortable dealing directly with business clients 
	and end-users, my clients tend to be web design, marketing, and web development 
	firms who need subcontractors well-versed in the art of code to create the 
	functionality for a site they're designing, or to augment their staff for 
	a particularly big project.
</p>

<p>
	I have experience with PHP, MySQL, jQuery, WordPress, Drupal, .NET (C#), Java, Grails, 
	and other cool stuff. If certifications are your thing, I'm a Zend Certified 
	Engineer for PHP5.
</p>

<p>
	If you have any questions about the services I provide, my rates, experience or references, 
	or if you just want to chat, you can either 
	<a href="mailto:devin.humbert@gmail.com">shoot me an email</a>, or head over to the 
	<a href="{{site.url}}/contact">contact</a> page.
</p>

<p>
	Want to see some code I've written? Check out 
	<a href="https://bitbucket.org/dhumbert">my BitBucket profile</a>.
</p>


<p>Thanks!</p>

<div class="signature">Devin Humbert</div>

{%endblock%}