{% extends "_staticpage.html" %}

{%hyde
    title: "Contact"
%}

{% block article %}

<div id="wufoo-z7x3p9">
Fill out my <a href="http://dhwebco.wufoo.com/forms/z7x3p9">online form</a>.
</div>
<script type="text/javascript">var z7x3p9;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'dhwebco', 
'formHash':'z7x3p9', 
'autoResize':true,
'height':'497',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

{% endblock %}
