{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="post-content">
	{% filter typogrify %}

	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}

	{% endfilter %}
</div>

{% include "skeleton/_comments.html" %}

{% endblock %}

{% block content_header %}

<div id="content-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">Published on {{ page.created|date:"d F, Y"}}</span>
</div>

{% endblock %}

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}